# Web Framework and Server
fastapi
uvicorn[standard]

# Data Validation and Settings Management
pydantic
pydantic-settings
pydantic[email]

# Database ORM and Migration
sqlalchemy
alembic
psycopg2-binary  # PostgreSQL driver

# Authentication and Security
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1  # 🔧 Pinning due to issues with newer versions (__about__ module separation)
itsdangerous
python-multipart  # For handling form data
authlib  # OAuth & JWT handling

# HTTP Client
httpx

# Caching / Queuing
redis

# Environment Variable Management
python-decouple

# DEV ONLY - COMMENT THIS WHEN PUSHING TO PRODUCTION
minio
